
form {
    display: inline;
}

h1 {
    color: brown;
}

.align-button {
    display : flex
}


.first-button, .second-button, .third-button, .fourth-button{
    display: flex;
}

.button {
    display: inline;
}
